.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-size: 36px;
}

.summary {
  position: relative;
  width: 80%;
  min-height: 80vh; /* 適切な高さを設定 */
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.summary::before,
.summary::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: crossfade 10s infinite;
}

.summary::before {
  background-image: url('../public/github1.jpg');
}

.summary::after {
  background-image: url('../public/github2.jpg');
  animation-delay: 5s; /* 画像の切り替えタイミングを調整 */
}

.summary-item {
  background: rgba(255, 255, 255, 0.8); /* 背景画像が見えるように透明度を設定 */
  color: #000;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary-item:nth-child(1) {
  animation: move1 2s infinite;
}

.summary-item:nth-child(2) {
  animation: move2 2s infinite;
}

.summary-item:nth-child(3) {
  animation: move3 2s infinite;
}

.summary-item:nth-child(4) {
  animation: move4 2s infinite;
}

.report {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blue {
  color: blue;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.cyan {
  color: darkcyan;
  font-weight: bold;
}

.pink {
  color: pink;
  font-weight: bold;
}

@media (max-width: 768px) {
  .summary-item {
    width: 90% !important; /* Full width for smaller screens */
  }
  .title {
    font-size: 32px;
  }
}

@media (max-width: 458px) {
  .summary-item {
    width: 90% !important; /* Full width for smaller screens */
  }
  .title {
    font-size: 20px;
  }
}

@keyframes move1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes move4 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes crossfade {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}